/*.logo {background-image: url(../retina/logo.jpg);}*/
/*footer .social a {background-image: url(../retina/socialIconsNew.png);}*/
/*footer .social a {background-image: url(../retina/socialIcons.jpg);}*/
/*span.share a {background-image: url(../retina/socialShareIcons.png);}*/
.container .gallery {background-image: url(../retina/galleryIcon.png);}
.box.video .play {background-image: url(../retina/canvas.png);}
.bulletLinks a {background-image: url(../retina/bullet01.png);}
#load-posts a.button {background-image: url(../retina/bullet02.png);}
/*.fancybox-overlay {background-image: url('../retina/overlayCanvas.png');}*/
.custom02.bullet {background-image: url(../retina/bullet03.png);}
.dropdownCart .header {background-image: url(../retina/lock.png);}
.dropdownCart .cartItem .cross {background-image: url(../retina/cross02.png);}
